@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Roboto:wght@100;300;400;500;700&display=swap&family=Playfair+Display:wght@900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Open Sans', 'Roboto', sans-serif, 'Helvetica Neue';
}
#__next {
  overflow-y: hidden;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;  
}

@media only screen and (min-width: 320px) {
  .header {
    display: none;
    }
    .mode-btn {
      display: none;
    }
    .mobile-header {

      .header-box {
        max-height: 130px;

        .logo-box {
          width: 100%;
          height: 100%;

          .potoo-logo-a {
            width: 42%;
            padding-top: 1.5rem;
            margin-left: 2.3rem;
          }
        }
        .hamburger-menu {
          width: 45px!important;
          height: 91px;
          display: flex;
          align-items: right;
          justify-content: end;
          margin: 16px 16px 0px 0px;
          padding: 20px 0 auto 0;
    
    
          .menu-icon {
            // display: grid;
            // place-items: center;
            // height: 22px;
            // width: 28px;
            // cursor: pointer;
            // z-index: 1111;
            // position: absolute;
            // top: 30%;
            // transition: all 0.6s ease-in;
              color: #fff; 
              height: 100px; 
              display: flex;
              align-items: center;
              justify-content: center;
              aspect-ratio: 1;
              border-radius: 15%;
              position: relative;
              overflow: hidden;
              z-index: 1111;

              span {
                display: block;
                width: 40%;
                height: 3%;
                border-radius: 100vh;
                background: #fff;
                position: absolute;
                transition: 0.5s;

                &:nth-child(1) {
                  top: 55%;
                }
                &:nth-child(2) {
                  bottom: 55%;
                }
              }

              &.activeNav span:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotate(225deg);
                transition-delay: 0.25s;
              }
              &.activeNav span:nth-child(2) {
                bottom: 50%;
                transform: translateY(50%) rotate(-225deg);
                transition-delay: 0.25s;
              }



            // &.activeNav span:nth-child(1) {
            //   justify-self: start;
            //   background-color: rgb(245, 245, 245);
            // }
            // &.activeNav span:nth-child(2) {
            //   justify-self: end;
            //   background-color: rgb(245, 245, 245);
              
            // }
    
            // & span {
            //   width: 80px;
            //   height: 1.6px;
            //   display: block;
            // }
            // .line-1 {
            //   width: 18px;
            //   justify-self: end;
            //   background-color: rgb(245, 245, 245);
            //   transition: background-color 0.6s, justify-self 0.8s linear;
            //   border-radius: 50px;

            // }
            // .line-2 {
            //   width: 18px;
            //   justify-self: start;
            //   background-color: rgb(245, 245, 245);
            //   transition: background-color 0.6s, justify-self 0.8s linear;
            //   border-radius: 50px;
            // }
          }
        }
        .menu-list {
          position: absolute;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          background-color: #0031a6;
          z-index: 111;
          transition: all 0.4s ease-in-out 0s, visibility 0.3s linear 0.4s, z-index 0s linear 0.2s;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-100%);


          &.activeNav {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.4s;
          }

          .header-list {
            position: absolute;
            list-style: none;
            padding-left: 0;
            width: 85%;
            top: 20vh;
            left: 6vw;

            .item {
              margin: 3rem 3rem;
              text-align: center;
              border-bottom: 1px solid #FAFAFA;
              padding-bottom: 0.65rem;

              .mobile-navBar-item {
                padding: 2rem 0;
                font-size: 1.8rem;
                color: #FAFAFA;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .phone-menu-footer {
            position: absolute;
            bottom: 14%;
            width: 100%;

            .p-10-0 {
              padding: 10px 0;
              text-align: center;

              a {
                color: #FAFAFA;
              }
            }
            .p-1n25rem {
              padding: 1.25rem;
            }
          }
        }
      }
    }
    .home-page-container {
      padding-top: 1.4rem;

      .shows-h1-col {

        .shows-h1 {
          font-size: 4rem;
          font-weight: 300;
        }
      }
    }
    .design-container {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      border-top: none;

      .homepage-design-col {
        background-color: #fff;
        .design-p {
          font-size : 1.24rem!important;
          padding: 1rem 0rem;
          color: #000;
          .red-text {
            font-weight: 700;
          }
        }
      }
      .ideas-row {
        margin-top: 5rem;
        padding-top: 2rem;

        .ideas-list {
          list-style: none;
          padding-left: 0;
          text-align: right;
          
          .item-one {
            font-size: 4rem;
            line-height: 4rem;
            cursor: default;
          }
          .item-two {
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 2px;
            padding-left: 0;
           }
           .item-three {
            font-size: 3.9rem;
            line-height: 4.76rem;
             cursor: default;
             letter-spacing: 0px;
              display: inline-block;
            }
        }
      }
    }
    .service-container-mobile {
      padding: 0;
      .col-11 {
        padding: 15px 10px 0px 15px;
        margin-bottom: 30px;

        .service-h1 {
          -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           background-color: #eef2ea;
           font-size: 1.6rem!important;
           border-bottom: 1px solid rgb(177, 177, 177);
           padding-bottom: 10px;
        }

        .service-p {
          color: rgb(211, 211, 211);
          padding-top: 0px;
        }

      }
    }
    .row-project-images {
      margin-bottom: 1rem;
      margin-top: 7rem;

      .work-p {
        text-align: left;
        font-size: 1.32rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #f0ecec;
        margin-bottom: 2rem;
      }
      .project-list-image-list {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        .project-image-item {
          position: relative;
          width: 151px;

          .project-item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.35s;
            transform: translateY(0);

            .project-item-title {
              font-size: 1rem;
            }
            .project-item-link {

              .link-icon {
                width: 22px;
                height: 22px;
                fill: #fff;
                margin-left: 7vw;
                margin-top: 2vh;
              }
            }

            &:hover {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  .design-page-container {
    padding-top: 4rem;

    .design-content {
      display: flex;
      font-size: 1.5rem;

  
      .design-content-list {
        padding: 0 1rem 0 2rem;
        margin-left: 2rem;
        border-left: 1px solid #222;
  
        .make-it-list {
          list-style: none;
          padding-left: 0;
          text-align: left;
  
          .item {
            font-weight: 200;
          }
        }
      }
    }
  }

  .code-container {
    margin-top: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .potoo-vision-col {
      position: relative;
      margin-top: 1rem!important;
      margin-bottom: 2rem;

      .potoo-vision-text {
        font-size: 3rem;
        line-height: 55px;
        color: #c6c4c4;
        z-index: 199;
        padding: 0;
        margin-top: 1.278rem;
        font-family: "Playfair Display";
        text-align: center;
      }
    }
  }
  .design-first-container {
    
    .project-list-image-list {
      list-style: none;
      padding-left: 0;
      margin-left: 0;

      .project-image-item {
        position: relative;
        width: 151px;

        .project-item-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.35s;
          transform: translateY(0);

          .project-item-title {
            font-size: 1rem;
          }
          .project-item-link {

            .link-icon {
              width: 22px;
              height: 22px;
              fill: #fff;
              margin-left: 7vw;
              margin-top: 2vh;
            }
          }

          &:hover {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    .project-list-image-list {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        .project-image-item {
          position: relative;
          width: 80px;

          .project-item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.35s;
            transform: translateY(0);

            .project-item-title {
              font-size: 1rem;
            }
            .project-item-link {

              .link-icon {
                width: 22px;
                height: 22px;
                fill: #fff;
                margin-left: 7vw;
                margin-top: 2vh;
              }
            }

            &:hover {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      .design-page-list-btns {
        list-style: none;
        display: flex;
        padding-left: 0;
        border-bottom: 1px solid #7d7979;
        padding-bottom: 20px;

        .item {
          width: 33%;
          font-size: 0.96rem;
          text-transform: capitalize;
          opacity: 60%;
          cursor: pointer;
          transition: opacity 0.6s;

          &.active {
            opacity: 100%;
          }
        }
      }
  }
  
  .projects-container {

    .waiting-for-projects {
      padding: 2rem;
      margin-top: 8rem;
      border: 1px solid #fff;
      border-radius: 100px;
      width: 80%;
      text-align: center;
    }
  }
  .text-right-mobile {
    text-align: right!important;
  }
  .service-container {
    display: none;
  }
  .mw-1190 {
    .impression-h1 {
      text-align: right;
      font-size: 3rem;
    }
  }
  .impression-is-h2 {
    font-size: 1.45rem;
    font-weight: 200;
  }
  .footer-container {
    padding-top: 2rem;
    margin-top: 3rem;
    border-top-left-radius: 1px solid #222;
    
    .phone-email-row {
      background-color: #fff;
    }

    .say-hello-h1 {
      font-size: 3.021rem;
      font-weight: 600;

      .footer-impression {
        font-size: 3.95rem;
        font-weight: 700;
        position: relative;
        bottom: 0rem;
      }
      
    }
    .say-hello-a {
      text-decoration: none;
      color: #222;
      position: relative;

      &::after {
        content: '';
          width: 35%;
          height: 2px;
          background-color: #222;
          display: inline;
          position: absolute;
          top: 25px;
          left: 0;
          transition: all .4s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }

    }
    .social-media-list {
      list-style: none;
      padding-left: 0;
      display: block;
    }
  }
  .project-showcase-container {
    margin-top: 3rem!important;
    .project-row {
  
      .project-col {
  
        .project-list {
          text-align: center;
          list-style: none;
          padding-left: 0;
  
          .project-item  {
  
           &.project-title {
             font-size: 35px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            text-align: center;
            padding-left: 0;
           } 
           &.project-year {
            padding-top: 0.5rem;
            font-size: 35px;
            text-align: center;
           } 
           &.project-info {
            padding-top: 1rem;
            font-size: 16px;
           } 
           &.project-impression {
            padding-top: 1.5rem;
            font-size: 18px;
            .project-impression-is {
              font-size: 16px;
              opacity: 85%;
            }
           } 
          }
        }
      }
    }
    .row-project-info {
      margin-left: auto;
      margin-right: auto;
      .project-statement {
  
        p {
          font-size: 1.2rem;
        }
      }
      .project-concept {
  
        p {
          font-size: 1rem;
        }
      }
      .project-more-info {
  
        p {
          font-size: 1rem;
        }
      }
    }
    .project-images-might-change-row {
      padding-top: 2.2rem;
      .potoo-business-card-col {
        margin-top: 4rem;
        padding: 0;
        padding-left: 1rem;
        left: 4.4vw;
      }
    }
    .we-do-it-row {
      padding-top: 8rem;
      .we-do-it-with-style-col {
        text-align: center;
  
        .we-do-it {
          font-size: 1.2rem;
        }
        .style {
          letter-spacing: 22px;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: #f00;
          padding-left: 21px;
        }
      }
    }
    .images-row {
      padding-top: 4rem;
    }
    .poster-row {
      padding-top: 4rem;
      background-color: #6b827c7d;
      padding-bottom: 4rem;
  
    }
  }
  .co-container {
    .co-made {
      font-size: .8rem;
    }
  }
  .project-embeded {
    width: 375px;
    height: 362px;
  }
}

@media only screen and (min-width: 669px) {

  .mobile-header {

    .header-box {

      .logo-box {

        .potoo-logo-a {
          padding: 2vh 0 0 8vw;
        }
      }
    }
  }
  .mode-btn {
    position: absolute;
    top: 7%;
    right: 3%;
    border: none;
    display: inline-block;
    display: none;
  
    &:visited {
      background-color: transparent;
    }
  
    &.dark {
      color: #fff;
      background-color: transparent;
  
      .mode-icon {
        background-position: center;
        background-repeat: no-repeat;
        height: 84px;
        width: 85px;
        display: flex;
      }
    }
    &.light {
      color: #363537;
      background-color: transparent;
  
      .mode-icon {
        background-position: center;
        background-repeat: no-repeat;
        height: 84px;
        width: 85px;
        display: flex;
      }
    }
  }

  .home-page-container {
    padding-top: 1rem;
    overflow-x: hidden;
    &.mw-1450 {
      max-width: 1450px!important;
    }
    .shows-h1-col {
      z-index: 11;
      
      .shows-h1 {
        font-size: 4rem;
        font-weight: 400;
      }
    }
  }
  .menu-bar {
    position: fixed;
    top: 9%;
    z-index: 10000;
    width: 65%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 17%!important;
    padding-right: 0!important;
    padding-left: 0!important;
    height: max-content;

    .bottom-h6-custom {
      line-height: 80px;
    }
    .bottom-menu {

      .bottom-menu-list  {
        display: flex;
        list-style: none;
        box-shadow: rgba(49, 49, 61, 0.1) 0px 4px 16px, rgba(49, 49, 61, 0.1) 0px 8px 24px, rgba(49, 49, 61, 0.1) 0px 16px 56px;
        border-radius: 50px;
        margin-bottom: 0;
        background-color: #fff;
        padding-left: 0;

        .bottom-menu-item {
          display: flex;

            .bottom-menu-h5 {
            padding: 1rem 2.5rem;
            font-size: 1.2rem;
            margin-bottom: 0;

          }
          .design-a {
            border-right: 1px solid #363537;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            transition: .6s;
            color: #363537;
            text-decoration: none;
            
            &:hover {
              background-color: #363537;
              color: #FAFAFA;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
            }
          }
          .contact-a {
            border-left: 1px solid #363537;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transition: 0.4s;
            color: #363537;
            text-decoration: none;

            &:hover {
              background-color: #363537;
              color: #FAFAFA;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
            }
          }
          .code-a {
            transition: 0.4s;
            color: #363537;
            text-decoration: none;

            &:hover {
              background-color: #363537;
              color: #FAFAFA;
            }
          }
        }

      }
    }
  }
  .project-embeded {
    width: 720px;
    height: 576px;
  }
  .design-first-container {
    
    .project-list-image-list {
      list-style: none;
      padding-left: 0;
      margin-left: 0;

      .project-image-item {
        position: relative;
        width: 273px;

        .project-item-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 98%;
          background: rgba(0, 0, 0, 0.6);
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.35s;
          transform: translateY(0);

          .project-item-title {
            font-size: 2rem;
          }
          .project-item-link {

            .link-icon {
              width: 42px;
              height: 42px;
              fill: #fff;
              margin-left: 7vw;
              margin-top: 2vh;
            }
          }

          &:hover {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    
    
  }
  .design-container {
    margin-top: 4rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    border-top: 1px solid #222;

    .homepage-design-col {
      .design-p {
        font-size: 2.9rem!important;
        line-height: 58px;
        padding: 5rem 0rem;
        .red-text {
          font-weight: 700;
        }
      }
    }
    .design-btn {
      color: inherit;
      font-size: 16px;
    }
    .service-container {
      display: none;
    }
    .service-container-mobile {
      display: block;
      padding-top: 2rem;

      .create-impression-h2 {
        font-size: 3rem;
      }
    }
    .ideas-row {

      .ideas-list {
        list-style: none;
        text-align: right;
        padding-left: 0;
        padding-bottom: 14rem;

        .item-one {
          font-size: 6rem;
          line-height: 6rem;
          cursor: default;
           }
           .item-two {
            font-size: 7rem;
            line-height: 8rem;
            letter-spacing: 2px;
            padding-left: 0;
           }
           .item-three {
            font-size: 7rem;
            line-height: 6rem;
             text-align: right;
             cursor: default;
             letter-spacing: 0px;
              display: inline-block;
            }
         } 
      }
      .row-project-images {
        margin-bottom: 12rem;

        .work-p {
          text-align: left;
          font-size: 2.6rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #f0ecec;
          margin-bottom: 2rem;
        }
        .project-list-image-list {
          list-style: none;
          padding-left: 0;
          margin-left: 0;

          .project-image-item {
            position: relative;
            width: 273px;

            .project-item-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 98%;
              background: rgba(0, 0, 0, 0.6);
              color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: opacity 0.35s;
              transform: translateY(0);

              .project-item-title {
                font-size: 2rem;
              }
              .project-item-link {

                .link-icon {
                  width: 42px;
                  height: 42px;
                  fill: #fff;
                  margin-left: 7vw;
                  margin-top: 2vh;
                }
              }

              &:hover {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  .code-container {
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 0rem;

    .potoo-vision-col {


      .potoo-vision-text {
        font-size: 3.8rem;
        line-height: 63px;
        color: #c6c4c4;
        z-index: 199;
        padding: 0rem 0rem 0rem 0rem;
        margin-top: -0.722rem;
        font-family: "Playfair Display";
      }
    }

   
  }
  .footer-container {
    padding-top: 3rem;
    margin-top: 5rem;
    border-top-left-radius: 1px solid #222;
    
    .phone-email-row {
      background-color: #fff;
      
    }

    .say-hello-h1 {
      font-size: 4.7rem;
      font-weight: 500;

      .footer-impression {
        font-size: 6.1rem;
        bottom: 0%;
      }
    }
    .say-hello-a {
      text-decoration: none;
      color: #222;
      position: relative;

      &::after {
        content: '';
          width: 35%;
          height: 2px;
          background-color: #222;
          display: inline;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all .4s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .social-media-list {
      list-style: none;
      padding-left: 0;
      display: inline-flex;
      padding-top: 1rem;

      .social-media-item {
        padding: 1rem;
      }
    }
    .contact-form {
      display: grid;
      padding-top: 2rem;
      text-align: center;
      justify-content: center;
      
      ::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 75%;
        left: -20px;
        top: 15vh;
        background-color: #E5E5E5;
      }
      ::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 75%;
        right: -18px;
        bottom: 15vh;
        background-color: #E5E5E5;
      }
    
      .inputGroup {
        width: 90%;
        display: grid;
        margin: 1rem;
    
        .contact-form-label {
          margin-bottom: 10px;
        }
        .contact-form-input {
          background-color: inherit;
          padding: 0.6rem 1rem;
          color: inherit;
          border: none;
          border-bottom: 1px solid #969494;
        }
      }
      .submit-btn {
        margin: 2.5rem 1rem 3rem 2rem;
        padding: 1rem;
        color: inherit;
        border-radius: 40px;
        background-color: #FC3030;
        width: 80%;
        border: none;

      }
    }
  }
  .co-container {
    .co-list {
      list-style: none;
      display: flex;
      padding-left: 0;
    }
  }
  .w-md-75 {
    width: 75%!important;
  } 
}


@media only screen and  (min-width: 996px) {
  .mobile-header {
    display: none;
  }
  .home-page-container {
    border-top: none;
    &.mw-1450 {
      max-width: 1450px!important;
    }
    .shows-h1-col {
      
      .shows-h1 {
        font-size: clamp(7rem, 0.7153rem + 8.6368vw, 9rem);
        display: block;
        font-weight: 500;
        padding-top: 11rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(180deg, #FFF, #fff);
        background-image: -moz-linear-gradient(180deg, #FFF, #fff);
        background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#fff));
        background-image: -webkit-linear-gradient(180deg, #FFF, #fff);
        background-image: -moz-linear-gradient(180deg, #FFF, #fff);
        background-image: linear-gradient(180deg, #FFF, #fff);

      }
    }
  }
  .nav-container {
    .row {
      
      .mode-col {

        .list {
          display: initial;
          list-style: none;
          position: absolute;
          top: 12%;


          .item {
            padding-right: 15px;

            &.mode-p-item {
              height: max-content;
              position: absolute;
              top: 60%;
              right: 4rem;

              .mode-p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  
  .contact-container {
    border-top: none;
    padding-top: 5rem;
    margin-top: 2rem;
  
      .contact-form {
        display: grid;
      
        .inputGroup {
          width: 80%;
          display: grid;
          margin: 1rem;
      
          .contact-form-label {
            margin-bottom: 10px;
          }
          .contact-form-input {
            background-color: inherit;
            padding: 0.6rem 1rem;
            color: inherit;
            border: none;
            border-bottom: 1px solid #969494;
          }
        }
        .submit-btn {
          margin: 2.5rem 1rem 3rem 1rem;
          padding: 1rem;
          color: inherit;
          border-radius: 0px;
          background-color: transparent;
          width: 80%;
          border: none;
          position: relative;
        }
      }
    }
    .mode-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4.2rem 3rem 0 0;
      border: none;
      display: flex;
      z-index: 443;
      line-height: 25px;
      display: none;
    
      &.dark {
        color: #fff;
    
        .mode-icon {
          background-position: center;
          background-size: 25px 25px;
          background-repeat: no-repeat;
          height: 25px;
          width: 25px;
          display: flex;
          margin-left: 0.7rem;
        }
      }
      &.light {
        color: #363537;
        background-color: transparent;
    
        .mode-icon {
          background-image: url('../public/mode-light.svg');
          background-size: 25px 25px;
          background-position: center;
          background-repeat: no-repeat;
          height: 25px;
          width: 25px;
          display: block;
          margin-left: 0.7rem;
        }
      }
    }
    .header {
    display: block;
    position: relative;
    top: 0;
    height: min-content;
    background-color: transparent;
    z-index: 302;
    transition: background-color 0.3s;

    .main-header {
      display: flex;
      height: max-content;
      padding: 1.1rem 1rem 1.1rem 1rem;
      justify-content: center;

      &::after {
        content: '';
        display: inline-flex;
        position: absolute;
        width: 100vw;
        height: 1px;
        bottom: 0;
        left: 0;
        background: #868585;
      }

      .logo-box {
        box-shadow: inherit;
        width: 50%;
        justify-content: space-around;
        display: inline-flex;
        
        .potoo-logo-a {
          width: 45%;
          text-align: center;
          padding: 20px 0 0 0 ;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #868585;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #868585;
          }
        }
        .bottom-menu-h5 {
          width: 23%;
          text-align: center;
          color: inherit;
          font-size: 18px;
          font-weight: 300;
          line-height: 120px;
          position: relative;
          
          &:focus::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 49%;
            left: 0;
            background-color: #868585;
          }

          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              top: 49%;
              left: 0;
              background-color: #868585;
              opacity: 0;
              transition: opacity .4s ease;
            }

          &:hover {
            text-decoration: none;
            
            &::after{
            opacity: 1;
          }
          }
          
        }
      }
      }
    }
    .design-container {
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
    border-top: none;

    .bird-col {
      position: relative;
      right: 15%;
      top: 35vh;
    }
    
    .homepage-design-col {

      &::before {
        position: absolute;
        content: '';
        background: #f7c4a100;
        width: 100%;
        height: 100%;
        right: 0;
        border-radius: 0;
      }
      .design-icons-list {
        list-style: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .design-icon-item-1 {
          width: max-content;
          position: absolute;
          right: 1vw;
          top: 4vh;
        }
        .design-icon-item-2 {
          width: max-content;
          position: absolute;
          right: 3.1vw;
          top: 7vh;
        }
        .design-icon-item-3 {
          width: max-content;
          position: absolute;
          right: 0.6vw;
          top: 18vh;
        }
        .design-icon-item-4 {
          width: max-content;
          position: absolute;
          right: .6vw;
          top: 14vh;
        }
        .design-icon-item-5 {
          width: max-content;
          position: absolute;
          right: 1.6vw;
          top: 28vh;
        }
      }
    }

    .design-h1 {
      font-size: 5.5rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 70%;
        height: 40px;
        top: 66.5%;
        left: 0;
        z-index: -1;
        background-color: #5ca0f778;
        
      }
    }

    .homepage-design-col {
      .design-p {
        font-size: 3.125rem!important;
        line-height: 58px;
        padding: 5rem 3rem;
        .red-text {
          font-weight: 700;
        }
      }
    }

    .design-btn {
      color: inherit;
      font-size: 20px;  
      margin: 5px 0;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 2%;
        height: 3px;
        background-color: #c0c0c0;
        transition: all .4s ease-in-out;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 2%;
        height: 3px;
        background-color: #ff0000;
        transition: all .4s ease-in-out;
      }
      &:hover {
        text-decoration: none;

        &::before {
          width: 20%;
        }
        &::after {
          width: 40%;
        }
      }
    }
    .website-design-col {
      position: relative;
      bottom: 7rem;
      text-align: right;
      padding-right: 6rem;
      padding-top: 5rem;
    }
    .ideas-row {
      margin-top: 7rem;
      margin-bottom: 8rem;
      .ideas-impressions-h1 {
        font-size: 5.2rem;
      }
      .ideas-list {
        list-style: none;
        text-align: right;
        padding-left: 0;
        padding-bottom: 14rem;

        .item-one {
          font-size: 8rem;
          line-height: 6rem;
          cursor: default;
           }
           .item-two {
            font-size: 13rem;
            line-height: 10rem;
            letter-spacing: 2px;
            padding-left: 0;
           }
           .item-three {
            font-size: 12rem;
            line-height: 12rem;
             text-align: right;
            
             cursor: default;
             letter-spacing: 0px;
              display: inline-block;
            }
        }
      }
      .row-wow {
        padding-left: 12rem;
        .wow-col {
          .wow-imporession {
            font-size: 19rem;
            line-height: 10rem;
            text-align: right;

            .a-in-wow {
              font-size: 10rem;
            }
          }
        }
      }
      .row-project-images {
        margin-bottom: 12rem;

        .work-p {
          text-align: left;
          font-size: 2.6rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #f0ecec;
          margin-bottom: 2rem;
        }
        .project-list-image-list {
          list-style: none;
          padding-left: 0;
          margin-left: 0;

          .project-image-item {
            position: relative;
            width: 470px;

            .project-item-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 98%;
              background: rgba(0, 0, 0, 0.6);
              color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: opacity 0.35s;
              transform: translateY(0);

              .project-item-title {
                font-size: 2rem;
              }
              .project-item-link {

                .link-icon {
                  width: 42px;
                  height: 42px;
                  fill: #fff;
                  margin-left: 7vw;
                  margin-top: 2vh;
                }
              }

              &:hover {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
    .service-container-mobile {
      display: none;
    }
    .code-container {
      margin-top: 2rem;
      padding-top: 7rem;
      padding-bottom: 7rem;

      .col-md-5 {

        .poo-text {
          font-size: 65px;
          line-height: 80px
        }
      }
      .potoo-vision-col {
        position: relative;
        margin-top: 3rem!important;
        margin-bottom: 1.5rem;
  
        .potoo-vision-text {
          font-size: 6.3rem;
          line-height: 100px;
          color: #c6c4c4;
          z-index: 199;
          padding: 5rem 2rem 3rem 3rem;
          margin-top: 0;
          font-weight: 900;
          font-family: "Playfair Display";
        }
      }
  
    }
    .footer-container {
      margin-top: 0.5rem;
      
      .phone-email-row {
        background-color: #fff;
      }
  
      .say-hello-h1 {
        font-size: 7.7rem;
        font-weight: 600;
  
        &::before {
          position: absolute;
          content: '';
          background: #f7c4a100;
          width: 100%;
          height: 100%;
          right: 0;
          border-radius: 0;
        }
        &::after {
          position: absolute;
          content: '';
          background: #f7c4a100;
          width: 100%;
          height: 100%;
          right: 0;
          border-radius: 0;
        }
        .footer-impression {
          font-size: 10.1rem;
          bottom: 0%;
          font-style: italic;
        }
      }
      .say-hello-a {
        text-decoration: none;
        color: #222;
        position: relative;
  
        &::after {
            content: '';
            width: 35%;
            height: 2px;
            background-color: #222;
            display: inline;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .4s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
  
      }
      .social-media-list {
        list-style: none;
        padding-left: 0;
        display: block;
      }
    }
    .service-container {
      padding-top: 4rem;
      padding-bottom: 5rem;
      display: block!important;

      .create-impression-h2 {
        font-size: 4.4rem;
        font-weight: 403;
      }
  
      .service-list {
        // list-style: url('../public/item-icon.svg');
        list-style: none;
        
        .item {
          font-size: 4rem;
          color: inherit;
          padding-top: 2rem;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .service-list-content {
        list-style: none;
  
        .item {
          position: absolute;
          top: 25%;
          left: 2vw;
          font-size: 28px;
          color: #363537;
          background-color: #ffffff;
          padding: 3rem;
          
        }
      }
    }
    .design-first-container {
      
      .design-page-list-btns {
        list-style: none;
        display: flex;
        padding-left: 0;
        border-bottom: 1px solid #7d7979;
        padding-bottom: 20px;

        .item {
          width: 33%;
          font-size: 1.6rem;
          text-transform: capitalize;
          opacity: 60%;
          cursor: pointer;
          position: relative;
          text-transform: capitalize;
          transition: opacity 0.6s;

          &.active {
            opacity: 100%;
          }
        }
      }
      .project-list-image-list {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        .project-image-item {
          position: relative;
          width: 470px;

          .project-item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 98%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.35s;
            transform: translateY(0);

            .project-item-title {
              font-size: 2rem;
            }
            .project-item-link {

              .link-icon {
                width: 42px;
                height: 42px;
                fill: #fff;
                margin-left: 7vw;
                margin-top: 2vh;
              }
            }

            &:hover {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      
    }
    .project-showcase-container {
      margin-top: 8rem!important;
      .project-row {

        .project-col {

          .project-list {
            text-align: center;
            list-style: none;
            padding-left: 0;

            .project-item  {

             &.project-title {
               font-size: 35px;
              text-transform: uppercase;
              text-align: center;
             } 
             &.project-year {
              padding-top: 0.5rem;
              font-size: 35px;
              text-align: center;
             } 
             &.project-info {
              padding-top: 1rem;
              font-size: 16px;
             } 
             &.project-impression {
              padding-top: 1.5rem;
              font-size: 18px;
              .project-impression-is {
                font-size: 16px;
                opacity: 85%;
              }
             } 
            }
          }
        }
      }
      .row-project-info {
        margin-left: auto;
        margin-right: auto;
        .project-statement {
          p {
            font-size: 1.8rem;
          }
        }
        .project-concept {

            .concept {
              font-size: 1.4rem;
            }
          }
          .project-more-info {

            .more-info {
              font-size: 1.4rem;
            }
        }
      }
      .project-images-might-change-row {
        padding-top: 8rem;
        .potoo-business-card-col {
          margin-top: 13rem;
          padding: 0;
          padding-left: 5rem;
          left: 1.4vw;
        }
      }
      .we-do-it-row {
        padding-top: 12rem;
        .we-do-it-with-style-col {
          text-align: center;

          .we-do-it {
            font-size: 1.3rem;
            letter-spacing: 0.107rem;
            text-align: center;
            
            .with {
              letter-spacing: 2px;
            }
          }
          .style {
            letter-spacing: 81px;
            font-size: 26px;
            padding-top: 2rem;
            text-transform: uppercase;
            color: #f00;
            font-weight: 400;
          }
        }
      }
      .images-row {
        padding-top: 8rem;
      }
      .poster-row {
        padding-top: 8rem;
        background-color: #6b827c7d;
        padding-bottom: 8rem;
      }
    }
    .project-embeded {
      width: 1220px;
      height: 1176px;
    }
      .potoo-loading {
        position: absolute;
        top: 30vh;
        left: 36vw;
      }
    }
    .mw-1190 {
      max-width: 1190px;

      .impression-h1 {
        text-align: right;
        font-size: 6rem;
      }
    }
    .impression-is-h2 {
      font-size: 3rem;
      font-weight: 400;
    }
  
    .ml-md-8r {
      margin-left: 8rem;
    }
    .projects-container {

      .waiting-for-projects {
        width: 40%;
      }
    }

    
  
  
  
  
  .w-lg-100 {
    width: 100%!important;
  }
  .co-container {
    position: relative;
    margin-top: 6rem!important;

    .clock {
      font-size: .8rem;
      display: inline-flex;
      div {
        width: fit-content;
      }
    }
  }


.co-container {
  .co-list {
    list-style: none;
    display: flex;
  }
}

@media only screen and (min-width: 1400px) {
  .ml-xxl-5 {
    margin-left: 3rem!important;
  } 
  .pl-xxl-5 {
    padding-left: 3rem!important;
  }
}

.error-container {
  position: relative;
  top: 20vh;
  min-height: 550px;
}
.w-95 {
  width: 95%;
}

.mw-1450 {
  max-width: 1450px!important;
}
// .arrow {
//   width: 75px;
//   height: 75px;
//   background: #f1502b url("../public/arrow-bottom.svg") center center no-repeat;
//   position: absolute;
//   bottom: 40%;
//   left: 50%;
//   transform: translate(-50%, 0);
//   z-index: 5;
//   transition: all .25s ease-in-out;

//   &:hover {
//     background: #e84824 url("../public/arrow-bottom.svg") center 36px no-repeat;
//   }
// }
.bg-green-col {
  background-color: #72816896;
}
.ls-15 {
  letter-spacing: 10px;
  position: relative;
  padding-left: 5rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: #f9d243;
  }
}
.text-red {
  color: rgb(255, 16, 16);
}
.text-yellow {
  color: #ffd700;
}