@import url("https://use.typekit.net/chl5clr.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Open Sans', 'sans-serif'!important;
}
#__next {
  overflow-y: hidden;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.color-white {
  color: #fff!important;
}

* {
  box-sizing: border-box;
}
.luxury-title {
  font-family: "minion-pro", serif!important;
}

@media only screen and (min-width: 280px) {
  .mobile-menu {
    width: fit-content;
    right: 0;
    top: 28px;
    z-index: 1111111;
    position: absolute;
    cursor: pointer;

    .menu-icon {
      display: grid;

      .menu {
        position: relative;
        padding-right: 5px;
        margin-right: 23px;
        transition: all 0.3s ease-in-out ;
        width: 24px;
        height: 10px;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          right: 0;
          top: 0;
          background-color: #fafafa;
        }
        &::after {
          content: "";
          position: absolute;
          width: 60%;
          height: 1.5px;
          right: 0;
          top: 100%;
          background-color: #fafafa;
          display: inline;
          transition: all 0.2s ease-in-out ;
        }
        &.activeNav {
          &::after {
            width: 100%;
          }
        }
      }
    }

  }
  .d-lg-only {
    display: none;
  }
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: left;
    text-align: left;
    padding: 0;
    position: relative;
    z-index: 1111111;
    border-bottom: 0.5px solid #fff;

    .item {
      .bird-logo {
        padding: 0.12rem;
      }


      &.center {
        margin-left: auto;
        margin-right: auto;
      }
      .nav-a {
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
  .header {
    display: none;
    }
    .mode-btn {
      display: none;
    }
    .mobile-header {

      .header-box {
        max-height: 130px;

        .menu-list {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          background-color: #020202;
          z-index: 111;
          transition: all 0.6s;
          opacity: 0;
          transform: translateY(-100%);


          &.activeNav {
            opacity: 1;
            transform: translateY(0%);
            z-index: 11111;
          }

          .header-list {
            position: absolute;
            list-style: none;
            padding-left: 0;
            width: 90%;
            top: 20vh;
            left: 6vw;

            .item {
              margin: 0.4rem;
              text-align: center;
              padding-bottom: 0.65rem;

              .mobile-navBar-item {
                font-size: 1.5rem;
                color: #FAFAFA;
                font-weight: 400;
                font-family:inherit;
                width: 100%;

                &.design-a {
                  position: relative;
                  display: inline-block;
                }

                &.code-a {
                  position: relative;
                  display: inline-block;
                }

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .phone-menu-footer {
            position: absolute;
            bottom: 10%;

            .p-10-0 {
              padding: 10px 0;
              text-align: center;

              a {
                color: #FAFAFA;
              }
            }
            .p-1n25rem {
              padding: 1.25rem;
            }
          }
        }
      }
    }
    .home-page-container {



      .main-page-impression-text-box {
        text-align: center;

        .studio-title {
          font-size: 1rem;
        }
      }
      
    }
    .service-container {
      margin-top: 12rem;
      padding-top: 8rem;
  
      .we-do-list {
        list-style: none;
        padding-left: 0;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
  
  
        .we-do-item {
          width: 100%;
          border-top: 1px solid #fff;
        }
      }
    }
    .design-container {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      border-top: none;

      .homepage-design-col {
        .design-p {
          font-size : 1.24rem!important;
          padding: 1rem 0rem;
          color: #FAFAFA;

          .potoo-cap {
            text-transform: uppercase;
            font-weight: 700;
            font-family: inherit;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: -12px;
              width: 15%;
              height: 2px;
              background-color: #FAFAFA;
            }
          }
        }
      }
      .ideas-row {
        margin-top: 5rem;
        padding-top: 2rem;

        .ideas-list {
          list-style: none;
          padding-left: 0;
          text-align: right;

          .item-one {
            font-size: 4rem;
            line-height: 4rem;
            cursor: default;
          }
          .item-two {
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 2px;
            padding-left: 0;
           }
           .item-three {
            font-size: 3.9rem;
            line-height: 4.76rem;
             cursor: default;
             letter-spacing: 0px;
              display: inline-block;
            }
        }
      }
      .row-project-images {
        margin-bottom: 12rem;
        margin-top: 0;

        .projects-list {
          padding-left: 0;

          .projects-list-item {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #bbbbbb;
            margin-top: 7rem;
            position: relative;
            cursor: point;

            .project-item-link {
              display: flex;

              &:hover {
              text-decoration: none;
              }

              .project-item-number {
                width: 20%;
                position: relative;
                font-family: inherit;
                font-size: 1.5rem;
                color: #fafafa;
              }

              .project-item-name {
                width: 80%;
                text-align: right;
                font-size: 2rem;
                font-family: inherit;
                color: #FAFAFA;
                font-weight: 800;
              }
            }

            .project-item-picture {
              display: inline;
              position: relative;
              left: 0%;
              bottom: 0;
              height: 360px;
              z-index: 111;
            }
          }
        }
      }
      .home-page-row-project-images {
        margin-bottom: 1rem;

        .project-title {
          font-size: 16px;
          letter-spacing: 0.45px;
          font-weight: 400;
          text-transform: capitalize;
          color: #FAFAFA;
          display: flex;
          position: relative;

          .project-info {
            font-size: 12px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
    .what-we-do-list {
      display: block;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
      padding-top: 1rem;
      justify-content: space-around;

      .item {
        list-style: none;
        text-align: center;
      }
    } 
  .design-page-container {
    padding-top: 4rem;

    .design-content {
      display: flex;
      font-size: 1.5rem;

  
      .design-content-list {
        padding: 0 1rem 0 2rem;
        margin-left: 2rem;
        border-left: 1px solid #222;
  
        .make-it-list {
          list-style: none;
          padding-left: 0;
          text-align: left;
  
          .item {
            font-weight: 200;
          }
        }
      }
    }
  }
  .what-we-do-list {
    .image {
      height: 80px;
    }
  }
  .code-container {
    margin-top: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
.border-sm-bottom {
  border-bottom: 1px solid #fff;
}
  .text-right-mobile {
    text-align: right!important;
  }
  .mw-1190 {
    .impression-h1 {
      text-align: right;
      font-size: 3rem;
    }
  }
  .impression-is-h2 {
    font-size: 1.45rem;
    font-weight: 200;
  }
  .footer-container {
    padding-top: 0;
    margin-top: 10rem;
    border-top: 1px solid #aeaeae;
    
    .contact-list {
      list-style: none;
      padding-left: 0;

      .say-hello-a {
        text-decoration: none;
        color: #FAFAFA;
        position: relative;
        font-size: 0.9rem;
  
        &::after {
          content: '';
            width: 0%;
            height: 1px;
            background-color: #ccc;
            display: inline;
            position: absolute;
            top: 15px;
            left: 0;
            transition: all .2s ease-out;
        }
        &:hover::after {
          width: 100%;
        }
  
      }
    }
    .media-list {
      list-style: none;
      padding-left: 0;
      color: #fafafa;
      font-size: 0.9rem;

      .item {
        color: #fafafa;
        text-transform: none;

        .social-media-a {
          text-transform: none;
          text-decoration: none;
          color: #FAFAFA;
          position: relative;
          font-size: 0.9rem;
        }
      }

    }
    .footer-bottom-info {
      font-size: calc(0.4rem + 1vw);
    }
    .footer-small-title {
      font-size: calc(0.3rem + 0.36rem);
      text-transform: uppercase;
      text-align: left;
      font-weight: 400;
      color: #b5b5b5;
    }
    .design-studio {
      font-size: 0.8rem;
    }
  }
  .everything-we-do {
    line-height: 24px;
    font-size: 1.1rem;
  }
  .everything-we-do::first-letter {
    font-size: 200%;
    padding: 6px 3px;
    float: left;
    background-color: #fff;
    color: #000;
    padding: 9px;
    margin-right: 7px;
    font-style: italic;
    font-weight: 900;
    font-family: Essonnes, serif;
    box-shadow: 2px 2px 0 rgb(255, 3, 3);
  }
  // Service container styling
  
  .project-showcase-container {
  
    .project-row {
  
      .project-col {
  
        .project-list {
          text-align: center;
          list-style: none;
          padding-left: 0;
  
          .project-item  {
  
           &.project-title {
             font-size: 24px;
            font-weight: 400;
            letter-spacing: 0px;
            text-align: center;
            padding-left: 0;
            line-height: 35px;
           } 
           &.project-year {
            padding-top: 0.5rem;
            font-size: 12px;
            text-align: center;
           } 
           &.project-info {
            padding-top: 0.25rem;
            font-size: 12px;
           } 
           &.project-impression {
            padding-top: 0.25rem;
            font-size: 14px;
           }
          }
        }
      }
    }
    .row-project-info {
      margin-left: auto;
      margin-right: auto;
      .project-statement {
  
        p {
          font-size: 1.2rem;
        }
      }
      .project-concept {
  
        p {
          font-size: 1rem;
        }
      }
      .project-more-info {
  
        p {
          font-size: 1rem;
        }
      }
    }
    .project-images-might-change-row {
      padding-top: 2.2rem;
      .potoo-business-card-col {
        margin-top: 4rem;
        padding: 0;
        padding-left: 1rem;
        left: 4.4vw;
      }
    }
    .we-do-it-row {
      padding-top: 8rem;
      .we-do-it-with-style-col {
        text-align: center;
  
        .we-do-it {
          font-size: 1.2rem;
        }
        .style {
          letter-spacing: 22px;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: #f00;
          padding-left: 21px;
        }
      }
    }
    .images-row {
      padding-top: 4rem;
    }
    .poster-row {
      padding-top: 4rem;
      background-color: #6b827c7d;
      padding-bottom: 4rem;
    }
    .accessibility {
      text-align: center;
      position: relative;
      padding: 1rem;

      &::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 1px;
        left: 0;
        top: 50%;
        background-color: #fafafa;
      }
      &::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 1px;
        right: 0;
        top: 50%;
        background-color: #fafafa;
      }
    }
    .accessibility-list {
      display: inline;
      list-style: none;
      padding-left: 0px;
      margin-left: 0px;

      .item {
        padding: 0.55rem 0;
      }
    }
    .project-footer-title {
      font-size: 21pt;
      text-align: left;
    }
    .project-footer-list {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      -webkit-justify-content: center;
      justify-content: center;
      padding-left: 0;
      margin-left: 0;
      list-style: inside;

      .item {
        text-align: left;
        font-size: 11pt;
        width: 100%;
      }
    }
  }
  .we-specialize-list {
    display: block;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    padding-top: 1rem;
    justify-content: center;

    .item {
      list-style: none;
      text-align: center;
    }
  }
  .project-embeded {
    width: 375px;
    height: 362px;
  }
  .grid-text {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
  }
  .about-container {
    margin-top: 4rem;

    .about-sec-title {
      text-transform: uppercase;
      padding: 1rem 0;
      position: relative;
      font-size: 0.9rem;

      &::before {
        content: '*';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 0;
        background-color: #FAFAFA;
        text-align: right;
        font-size: 40px;
      }
    }
    .about-grid-two {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .about-grid-two {
      &.about-grid-two-45 {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        -webkit-justify-content: center;
        justify-content: center;
        grid-gap: 10%;
      }
    }
    .font-1n2rem {
      font-size: 1.2rem;
    }
  }
  .video-wrapper {
    justify-content: center;
    width: 100vw;
    list-style: disclosure-closed;
    
    .video-row {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      
      .video-box {
        height: 100%;
        width: 100%;
        cursor: auto;
    
        iframe {
        cursor: auto;
        height: 100%;
        width: 100%;
        }
      }
    }
  }
  .normal-text {
    font-size: 16px;
  }
  // Spacing
  .pt-2x {
    padding-top: 1rem!important;
  }
  .pt-4x {
    padding-top: 2rem!important;
  }
  .pt-6x {
    padding-top: 3rem!important;
  }
  .pt-8x {
    padding-top: 4rem!important;
  }
  .pt-10x {
    padding-top: 5rem!important;
  }
  .pt-12x {
    padding-top: 6rem!important;
  }
  .mt-2x {
    margin-top: 1rem!important;
  }
  .mt-4x {
    margin-top: 2rem!important;
  }
  .mt-6x {
    margin-top: 3rem!important;
  }
  .mt-8x {
    margin-top: 4rem!important;
  }
  .mt-10x {
    margin-top: 5rem!important;
  }
  .mt-12x {
    margin-top: 6rem!important;
  }
  .journal-list {
    width: fit-content;
    justify-content: space-around;
    display: block;
    .item {
      font-size: 9pt;
      background-color: rgb(238, 238, 238);
      width: fit-content;
      padding: 10px 20px;
      border-radius: 25px;
      color: #000;
    }
  }
}
@media only screen and (min-width: 669px) {

  .mobile-header {

    .header-box {

      .logo-box {

        .potoo-logo-a {
          padding: 2vh 0 0 8vw;
        }
      }
    }
  }
  .mode-btn {
    position: absolute;
    top: 7%;
    right: 3%;
    border: none;
    display: inline-block;
    display: none;
  
    &:visited {
      background-color: transparent;
    }
  
    &.dark {
      color: #fff;
      background-color: transparent;
  
      .mode-icon {
        background-position: center;
        background-repeat: no-repeat;
        height: 84px;
        width: 85px;
        display: flex;
      }
    }
    &.light {
      color: #363537;
      background-color: transparent;
  
      .mode-icon {
        background-position: center;
        background-repeat: no-repeat;
        height: 84px;
        width: 85px;
        display: flex;
      }
    }
  }

  .home-page-container {
    overflow-x: hidden;

    .main-page-impression-text-box {
      text-align: center;
  
      .main-page-impression-text-large {
        font-size: 1.8rem;
      }
    }
    .col-md-3-custom-30p {
      -webkit-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
  .menu-bar {
    position: fixed;
    top: 9%;
    z-index: 10000;
    width: 65%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 17%!important;
    padding-right: 0!important;
    padding-left: 0!important;
    height: max-content;

    .bottom-h6-custom {
      line-height: 80px;
    }
    .bottom-menu {

      .bottom-menu-list  {
        display: flex;
        list-style: none;
        box-shadow: rgba(49, 49, 61, 0.1) 0px 4px 16px, rgba(49, 49, 61, 0.1) 0px 8px 24px, rgba(49, 49, 61, 0.1) 0px 16px 56px;
        border-radius: 50px;
        margin-bottom: 0;
        background-color: #fff;
        padding-left: 0;

        .bottom-menu-item {
          display: flex;

            .bottom-menu-h5 {
            padding: 1rem 2.5rem;
            font-size: 1.2rem;
            margin-bottom: 0;

          }
          .design-a {
            border-right: 1px solid #363537;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            transition: .6s;
            color: #363537;
            text-decoration: none;
            
            &:hover {
              background-color: #363537;
              color: #FAFAFA;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
            }
          }
          .contact-a {
            border-left: 1px solid #363537;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transition: 0.4s;
            color: #363537;
            text-decoration: none;

            &:hover {
              background-color: #363537;
              color: #FAFAFA;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
            }
          }
          .code-a {
            transition: 0.4s;
            color: #363537;
            text-decoration: none;

            &:hover {
              background-color: #363537;
              color: #FAFAFA;
            }
          }
        }

      }
    }
  }
  .project-embeded {
    width: 720px;
    height: 576px;
  }
  .design-container {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .homepage-design-col {
      .design-p {
        font-size: 2.1rem!important;
        line-height: 58px;
        padding: 5rem 0rem;
      }
    }
    .design-btn {
      color: inherit;
      font-size: 16px;
    }
    .ideas-row {

      .ideas-list {
        list-style: none;
        text-align: right;
        padding-left: 0;
        padding-bottom: 14rem;

        .item-one {
          font-size: 6rem;
          line-height: 6rem;
          cursor: default;
           }
           .item-two {
            font-size: 7rem;
            line-height: 8rem;
            letter-spacing: 2px;
            padding-left: 0;
           }
           .item-three {
            font-size: 7rem;
            line-height: 6rem;
             text-align: right;
             cursor: default;
             letter-spacing: 0px;
              display: inline-block;
            }
         } 
      }
      .row-project-images {
        margin-bottom: 12rem;
        margin-top: 3rem;
  
        .projects-list {
          padding-left: 0;
  
          .projects-list-item {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #bbbbbb;
            margin-top: 10rem;
            position: relative;
            cursor: point;
  
            .project-item-link {
              display: flex;
  
              &:hover {
              text-decoration: none;
              }
  
              .project-item-number {
                width: 20%;
                position: relative;
                font-family: inherit;
                font-size: 1.5rem;
                color: #fafafa;
              }
  
              .project-item-name {
                width: 80%;
                text-align: right;
                font-size: 2rem;
                font-family: inherit;
                color: #FAFAFA;
              }
            }
  
            .project-item-picture {
              display: inline;
              position: absolute;
              right: 22%;
              bottom: 0;
              height: 200px;
              z-index: 111;
            }
          }
        }
      }
      .home-page-row-project-images {
        margin-bottom: 1rem;
        margin-top: 5rem;
  
        .work-p {
          text-align: left;
          font-size: 3rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #f0ecec;
          margin-bottom: 2rem;
        }
        .project-list-image-list {
          list-style: none;
          padding-left: 0;
          margin-left: 0;
  
          .project-image-item {
  
            .project-item-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.6);
              color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: opacity 0.35s;
              transform: translateY(0);

              .project-item-title {
                font-size: 2rem;
                font-family: inherit;
                letter-spacing: 2px;
              }
              .project-item-link {

                .link-icon {
                  width: 35px;
                  height: 35px;
                  fill: #fff;
                  margin-left: 7vw;
                  margin-top: 2vh;
                }
              }

              &:hover {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
    
  .code-container {
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 0rem;

   
  }
  .about-container {
    margin-top: 4rem;
    .font-1n2rem {
      font-size: 2rem;
    }
  }
  .footer-container {
    padding-top: 0rem;
    margin-top: 0rem;
    border-top-left-radius: 1px solid #222;
    
    .phone-email-row {
      background-color: inherit;
      
    }

    .say-hello-h1 {
      font-size: 1.95rem;
      font-weight: 500;

    }
    .say-hello-a {
      text-decoration: none;
      color: #FAFAFA;
      position: relative;
      

      &::after {
        content: '';
          width: 1%;
          height: 1px;
          background-color: #ccc;
          display: inline;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all .2s ease-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .social-media-list {
      list-style: none;
      padding-left: 0;
      display: inline-flex;
      padding-top: 1rem;

      .social-media-item {
        padding: 1rem;
      }
    }
    .contact-form {
      display: grid;
      padding-top: 2rem;
      text-align: center;
      justify-content: center;
      
      ::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 75%;
        left: -20px;
        top: 15vh;
        background-color: #E5E5E5;
      }
      ::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 75%;
        right: -18px;
        bottom: 15vh;
        background-color: #E5E5E5;
      }
    
      .inputGroup {
        width: 90%;
        display: grid;
        margin: 1rem;
    
        .contact-form-label {
          margin-bottom: 10px;
        }
        .contact-form-input {
          background-color: inherit;
          padding: 0.6rem 1rem;
          color: inherit;
          border: none;
          border-bottom: 1px solid #969494;
        }
      }
      .submit-btn {
        margin: 2.5rem 1rem 3rem 2rem;
        padding: 1rem;
        color: inherit;
        border-radius: 40px;
        background-color: #FC3030;
        width: 80%;
        border: none;

      }
    }
  }
  .co-container {
    .co-list {
      list-style: none;
      display: flex;
      padding-left: 0;
    }
  }
  .w-md-75 {
    width: 75%!important;
  }
  .h4-smaller {
    font-size: 1.5rem;
  }
}


@media only screen and  (min-width: 996px) {
  .mobile-menu {
    display: none;
  }
  .nav {
    margin: 0;
    align-items: left;
    text-align: left;
    position: relative;
    z-index: 1111111;
    border-bottom: none;
    background-color: inherit;
    border-bottom: 1px solid rgb(212, 209, 209);

    .item {
      display: flex;
      .bird-logo {
        padding: 0;
      }


      &.center {
        margin-left: auto;
        margin-right: auto;
        display: inline;
      }
      .nav-a {
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        position: relative;

    &::after {
      content: '';
        width: 0%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        display: inline;
        position: absolute;
        top: 20px;
        left: 0;
        transition: all .2s ease-out;
    }
    &:hover::after {
      width: 100%;
    }
      }
    }
  }
  
  .d-lg-only {
    display: inline;
  }
  .mobile-header {

      .header-box {
        max-height: 130px;

        .menu-list {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          background-color: #020202;
          z-index: 111;
          transition: all 0.1s ease-in-out 0s, visibility 0.1s linear 0.1s, z-index 0s linear 0.1s;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-100%);


          &.activeNav {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.1s;
            z-index: 11111;
          }

          .header-list {
            position: absolute;
            list-style: none;
            padding-left: 0;
            width: 85%;
            top: 20vh;
            left: 6vw;

            .item {
              margin: 0rem 3rem;
              text-align: center;
              width: 60%;
              margin-left: auto;
              margin-right: auto;

              .mobile-navBar-item {
                padding: 1rem 0;
                font-size: 2.5rem;
                font-weight: 600;
                font-family: inherit;
                color: #FAFAFA;
                width: 100%;

                &.design-a {
                  position: relative;
                  display: inline-block;
                  margin-left: 2.8rem;
                  letter-spacing: -1px;
                  transition: all 0.4s ease-in-out;
                  text-transform: uppercase;

                  &:hover {
                    letter-spacing: 1px;
                  }

                  &::before {
                    content: "I";
                    position: absolute;
                    width: 20%;
                    height: 110px;
                    color: #ccc;
                    left: 2%;
                    top: 12%;
                    font-family: inherit;
                    letter-spacing: 0px;
                  }

                }

                &.code-a {
                  position: relative;
                  display: inline-block;
                  margin-left: 2.8rem;
                  letter-spacing: -2px;
                  transition: all 0.4s ease-in-out;
                  text-transform: uppercase;

                  &:hover {
                    letter-spacing: 1px;
                  }

                  &::before {
                    content: "II";
                    position: absolute;
                    width: 20%;
                    height: 110px;
                    color: #ccc;
                    left: 2%;
                    top: 12%;
                    font-family: inherit;
                    letter-spacing: 0px;
                  }
                }

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .phone-menu-footer {
            position: absolute;
            bottom: 0;

            .p-10-0 {
              padding: 10px 0;
              text-align: center;

              a {
                color: #FAFAFA;
              }
            }
            .p-1n25rem {
              padding: 1.25rem;
            }
          }
        }
      }
  }
  .home-page-container {
    border-top: none;
    margin-top: 0;

    .hight-58vh {
     height: 58vh;

     .studio-title {
      position: absolute;
      top: 37vh;
      text-align: center;
      width: 100%;
      font-size: 1.30rem;
      font-weight: 300;
     }
     .main-page-impression-title {
      position: sticky;
      top: 18vh;
      line-height: 150%;
     }

      .main-page-impression-text-large {
        font-size: calc(2.1rem + 3vw);
        font-family: inherit;
        margin-left: auto;
        position: relative;
        font-weight: 400;
        line-height: 1.7;
        position: sticky;
        top: 70vh;
      }
    }
    .award-list {
      list-style: none;
      display: flex;
      padding-left: 0;
      justify-content: space-around;
    }
  }
  .service-container {
    margin-top: 12rem;
    padding-top: 8rem;

    .we-do-list {
      list-style: none;
      padding-left: 0;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;


      .we-do-item {
        width: 28%;
        border-top: 1px solid #fff;
      }
    }
  }
  .grid-text {
    display: grid;
    grid-template-columns: 32% 32%;
    grid-template-rows: auto;
    justify-content: s;
    grid-gap: 5%;
  }
  .journal-list {
    display: flex;
    width: fit-content;
    justify-content: space-around;
    .item {
      font-size: 10pt;
      background-color: rgb(238, 238, 238);
      width: fit-content;
      padding: 10px 20px;
      border-radius: 25px;
      color: #000;
    }
  }
  .nav-container {
    .row {
      .mode-col {
        .list {
          display: initial;
          list-style: none;
          position: absolute;
          top: 12%;


          .item {
            padding-right: 15px;

            &.mode-p-item {
              height: max-content;
              position: absolute;
              top: 60%;
              right: 4rem;

              .mode-p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  .what-we-do-list {
    .image {
      height: 125px;
    }
  }
  .about-container {
    margin-top: 12rem!important;

    .about-grid-two {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto;
      -webkit-justify-content: center;
      justify-content: center;
      grid-gap: 20%;
    }
    .font-1n2rem {
      font-size: 3rem;
    }
    .normal-p {
      font-size: 1.2rem;
    }
    .about-sec-title {
      font-size: 10pt;
    }
    .we-do-list {
      list-style: none;
      padding-left: 0;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;


      .we-do-item {
        width: 28%;
        border-top: 1px solid #fff;
      }
    }
  }
    .mode-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4.2rem 3rem 0 0;
      border: none;
      display: flex;
      z-index: 443;
      line-height: 25px;
      display: none;
    
      &.dark {
        color: #fff;
    
        .mode-icon {
          background-position: center;
          background-size: 25px 25px;
          background-repeat: no-repeat;
          height: 25px;
          width: 25px;
          display: flex;
          margin-left: 0.7rem;
        }
      }
      &.light {
        color: #363537;
        background-color: transparent;
    
        .mode-icon {
          background-image: url('../public/mode-light.svg');
          background-size: 25px 25px;
          background-position: center;
          background-repeat: no-repeat;
          height: 25px;
          width: 25px;
          display: block;
          margin-left: 0.7rem;
        }
      }
    }
    .work-grid-two {
      display: grid;
      grid-template-columns: 60% 35%;
      grid-template-rows: auto;
      -webkit-justify-content: start;
      justify-content: start;
      grid-gap: 5%;
    }
    .header {
    display: block;
    position: relative;
    top: 0;
    height: min-content;
    background-color: transparent;
    z-index: 302;
    transition: background-color 0.3s;

    .main-header {
      display: flex;
      height: max-content;
      padding: 1.1rem 1rem 1.1rem 1rem;
      justify-content: center;

      &::after {
        content: '';
        display: inline-flex;
        position: absolute;
        width: 100vw;
        height: 1px;
        bottom: 0;
        left: 0;
        background: #868585;
      }

      .logo-box {
        box-shadow: inherit;
        width: 50%;
        justify-content: space-around;
        display: inline-flex;

        .potoo-logo-a {
          width: 45%;
          text-align: center;
          padding: 20px 0 0 0 ;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #868585;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #868585;
          }
        }
        .bottom-menu-h5 {
          width: 23%;
          text-align: center;
          color: inherit;
          font-size: 18px;
          font-weight: 300;
          line-height: 120px;
          position: relative;

          &:focus::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 49%;
            left: 0;
            background-color: #868585;
          }

          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              top: 49%;
              left: 0;
              background-color: #868585;
              opacity: 0;
              transition: opacity .4s ease;
            }

          &:hover {
            text-decoration: none;
            &::after{
            opacity: 1;
          }
          }
        }
      }
      }
    }
    .everything-we-do {
      line-height: 27px;
      font-size: 1.3rem;
    }
    .design-container {
    max-width: 1660px;
    padding-top: 5rem!important;
    padding-bottom: 8rem;
    border-top: none;

      .bird-col {
        position: relative;
        right: 15%;
        top: 35vh;
      }

      .design-h1 {
        font-size: 5.5rem;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 70%;
          height: 40px;
          top: 66.5%;
          left: 0;
          z-index: -1;
          background-color: #5ca0f778;
          
        }
      }

      .homepage-design-col {
        .design-p {
          font-size: 2.125rem!important;
          line-height: 45px;
          padding: 5rem 3rem;
        }
      }

      .design-btn {
        color: inherit;
        font-size: 20px;  
        margin: 5px 0;
        text-align: left;

        &::before {
          content: '';
          position: absolute;
          top: -5px;
          left: 0;
          width: 2%;
          height: 3px;
          background-color: #c0c0c0;
          transition: all .4s ease-in-out;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 2%;
          height: 3px;
          background-color: #ff0000;
          transition: all .4s ease-in-out;
        }
        &:hover {
          text-decoration: none;

          &::before {
            width: 20%;
          }
          &::after {
            width: 40%;
          }
        }
      }
      .website-design-col {
        position: relative;
        bottom: 7rem;
        text-align: right;
        padding-right: 6rem;
        padding-top: 5rem;
      }
      .ideas-row {
        margin-top: 14rem;
        margin-bottom: 14rem;
        .ideas-impressions-h1 {
          font-size: 5.2rem;
        }
        .ideas-list {
          list-style: none;
          text-align: right;
          padding-left: 0;
          padding-bottom: 14rem;

          .item-one {
            font-size: 8rem;
            line-height: 6rem;
            cursor: default;
            }
            .item-two {
              font-size: 13rem;
              line-height: 10rem;
              letter-spacing: 2px;
              padding-left: 0;
            }
            .item-three {
              font-size: 12rem;
              line-height: 12rem;
              text-align: right;
              
              cursor: default;
              letter-spacing: 0px;
                display: inline-block;
              }
          }
        }
        .row-project-images {
          margin-bottom: 12rem;
          margin-top: 2rem;

          .projects-list {
            padding-left: 0;
            .projects-list-item {
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid #bbbbbb;
              margin-top: 7rem;
              position: relative;
              cursor: pointer;

              .project-item-link {
                display: flex;

                &:hover {
                text-decoration: none;
                }

                .project-item-number {
                  width: 20%;
                  position: relative;
                  font-family: inherit;
                  font-size: 3rem;
                  color: #fafafa;
                }

                .project-item-name {
                  width: 80%;
                  text-align: right;
                  font-size: 3rem;
                  font-family: inherit;
                  color: #FAFAFA;
                }
              }

              .project-item-picture {
                display: none;
                position: absolute;
                right: 22%;
                bottom: 0;
                height: 365px;
                z-index: -111;
                transition: display 0.4s linear;

                &.active {
                  display: inline-block;
                }

              }
            }
          }
        }
        //Home page project list
        .home-page-row-project-images {
          margin-top: 4rem;

            .project-title {
              font-size: 18px;
              letter-spacing: 0.45px;
              font-weight: 400;
              text-transform: capitalize;
              color: #FAFAFA;
              display: flex;
              position: relative;

              .project-info {
                font-size: 12px;
                position: absolute;
                right: 0;
              }
            }
        }
    }
    .code-container {
      margin-top: 2rem;
      padding-top: 7rem;
      padding-bottom: 7rem;

      .col-md-5 {

        .poo-text {
          font-size: 65px;
          line-height: 80px
        }
      }
  
    }
    .footer-container {
      border-top: 1px solid #aeaeae;

      .contact-list {
        list-style: none;
        padding-left: 0;
        
        .item {
          font-size: calc(0.5rem + 0.5vw);
        }

      }
      .media-list {
        list-style: none;
        padding-left: 0;
        color: #FAFAFA;
        text-transform: none;

        .item {
          color: #FAFAFA;

          .social-media-a {
            text-decoration: none;
            color: #FAFAFA;
            position: relative;
            font-size: calc(0.5rem + 0.5vw);
          }
        }
      }
  
      .say-hello-a {
        text-decoration: none;
        color: #FAFAFA;
        position: relative;
  
        &::after {
            content: '';
            width: 1%;
            height: 1px;
            background-color: #ccc;
            display: inline;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .2s ease-out;
        }
        &:hover::after {
          width: 100%;
        }
  
      }
      .footer-bottom-info {
        font-size: calc(0.3rem + 0.4vw);
      }
      .footer-small-title {
        font-size: calc(0.3rem + 0.36rem);
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        color: #dbdbdb;
      }
      .mw-62p {
        max-width: 62%!important;
      }
      .design-studio {
        font-size: 1.4rem;
      }
    }
    .border-md-right {
      border-right: 1px solid #fff;
    }
    .project-showcase-container {
      margin-top: 11rem!important;

      .project-row {

        .project-col {

          .project-list {
            text-align: center;
            list-style: none;
            padding-left: 0;

            .project-item  {

             &.project-title {
              font-size: calc(0.8rem + 1vw);
              text-align: left;
              font-weight: 500;
             } 
             &.project-year {
              padding-top: 2rem;
              font-size: calc(0.3rem + 0.7vw);
              font-weight: 400;
             } 
             &.project-info {
              padding-top: 1rem;
              font-size: calc(0.35rem + 0.7vw);
              font-weight: 400;
              text-align: left;
             } 
             &.project-impression {
              padding-top: 1rem;
              font-size: calc(0.35rem + 0.7vw);
              font-weight: 400;
              text-align: left;
              .project-impression-is {
                font-size: calc(0.3rem + 0.6vw);
              }
             } 
            }
          }
        }
      }
      .row-project-info {
        margin-left: auto;
        margin-right: auto;
        .project-statement {
          p {
            font-size: 1.8rem;
          }
        }
        .project-concept {

            .concept {
              font-size: 1.4rem;
            }
          }
          .project-more-info {

            .more-info {
              font-size: 1.4rem;
            }
        }
      }
      .project-images-might-change-row {
        padding-top: 8rem;
        .potoo-business-card-col {
          margin-top: 13rem;
          padding: 0;
          padding-left: 5rem;
          left: 1.4vw;
        }
      }
      .we-do-it-row {
        padding-top: 12rem;
        .we-do-it-with-style-col {
          text-align: center;

          .we-do-it {
            font-size: 1.3rem;
            letter-spacing: 0.107rem;
            text-align: center;
            
            .with {
              letter-spacing: 2px;
            }
          }
          .style {
            letter-spacing: 81px;
            font-size: 26px;
            padding-top: 2rem;
            text-transform: uppercase;
            color: #f00;
            font-weight: 400;
          }
        }
      }
      .images-row {
        padding-top: 8rem;
      }
      .poster-row {
        padding-top: 8rem;
        background-color: #6b827c7d;
        padding-bottom: 8rem;
      }
      .project-footer-list {
        display: flex;
        list-style: disc;
        justify-content: center;
        .item {
          width: 15%;
          text-align: center;
        }
      }
      .project-footer-title {
        text-align: center;
        font-size: calc(1rem + 1.65vw);
      }
      .timeline-row {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .pt-lg-4rem {
      padding-top: 4rem!important;
    }
    .pt-lg-5rem {
      padding-top: 5rem!important;
    }
    .pt-lg-6rem {
      padding-top: 6rem!important;
    }
    .pt-lg-8rem {
      padding-top: 8rem!important;
    }
    .pt-lg-10rem {
      padding-top: 10rem!important;
    }
    .pt-lg-12rem {
      padding-top: 12rem!important;
    }
    .mt-lg-12rem {
      margin-top: 12rem!important;
    }
      .project-embeded {
        width: 1220px;
        height: 1176px;
      }
        .potoo-loading {
          position: absolute;
          top: 30vh;
          left: 36vw;
        }
        .mx-1600 {
          max-width: 1600px;
        }
        .video-wrapper {
          align-items: center;
          display: flex;
          height: 100vh;
          justify-content: center;
          width: 100vw;
          
          .video-row {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
            
            .video-box {
              height: 100%;
              width: 100%;
              cursor: auto;
          
              iframe {
              cursor: auto;
              height: 100%;
              width: 100%;
              }
            }
          }
        }
        .left-line, .right-line {
          border-top: 1px solid #b5b5b5;
          margin-top: 14px;
        }
        .normal-text {
          font-size: 20px;
        }
        .we-specialize-list {
          display: inline-flex;
          margin-left: 0;
          padding-left: 0;
          width: 100%;
          padding-top: 1rem;
          justify-content: center;

          .item {
            list-style: none;
            width: 15%;
            text-align: center;
          }
        }
        .what-we-do-list {
          display: inline-flex;
          margin-left: 0;
          padding-left: 0;
          width: 100%;
          padding-top: 1rem;
          justify-content: space-around;

          .item {
            list-style: none;
            width: 15%;
            text-align: center;
          }
        }
        .border-sm-bottom {
          border-bottom: none;
        }
        // Spacing
        .pt-2x {
          padding-top: 4rem!important;
        }
        .pt-4x {
          padding-top: 6rem!important;
        }
        .pt-6x {
          padding-top: 8rem!important;
        }
        .pt-8x {
          padding-top: 10rem!important;
        }
        .pt-10x {
          padding-top: 12rem!important;
        }
        .pt-12x {
          padding-top: 14rem!important;
        }
        .mt-2x {
          margin-top: 4rem!important;
        }
        .mt-4x {
          margin-top: 6rem!important;
        }
        .mt-6x {
          margin-top: 8rem!important;
        }
        .mt-8x {
          margin-top: 10rem!important;
        }
        .mt-10x {
          margin-top: 12rem!important;
        }
        .mt-12x {
          margin-top: 14rem!important;
        }
        .pb-2x {
          padding-bottom: 4rem!important;
        }
        .pb-4x {
          padding-bottom: 6rem!important;
        }
        .pb-6x {
          padding-bottom: 8rem!important;
        }
        .pb-8x {
          padding-bottom: 10rem!important;
        }
        .pb-10x {
          padding-bottom: 12rem!important;
        }
        .pb-12x {
          padding-bottom: 14rem!important;
        }
        .mb-2x {
          margin-bottom: 4rem!important;
        }
        .mb-4x {
          margin-bottom: 6rem!important;
        }
        .mb-6x {
          margin-bottom: 8rem!important;
        }
        .mb-8x {
          margin-bottom: 10rem!important;
        }
        .mb-10x {
          margin-bottom: 12rem!important;
        }
        .mb-12x {
          margin-bottom: 14rem!important;
        }
    }
    // end of 966px

    .mw-1190 {
      max-width: 1190px;

      .impression-h1 {
        text-align: right;
        font-size: 6rem;
      }
    }
    .impression-is-h2 {
      font-size: 3rem;
      font-weight: 400;
    }
    .ml-md-8r {
      margin-left: 8rem;
    }
  .w-lg-100 {
    width: 100%!important;
  }
  .co-container {
    position: relative;

    .clock {
      color: #e3e3e3;
      font-size: .8rem;
      display: inline-flex;
      div {
        width: fit-content;
      }
    }
  }


.co-container {
  .co-list {
    list-style: none;
    display: flex;
  }
}

@media only screen and (min-width: 1400px) {
  .ml-xxl-5 {
    margin-left: 3rem!important;
  } 
  .pl-xxl-5 {
    padding-left: 3rem!important;
  }
}

.error-container {
  position: relative;
  top: 20vh;
  min-height: 550px;
}
.w-95 {
  width: 95%;
}

.mw-1450 {
  max-width: 1450px!important;
}
.bg-green-col {
  background-color: #72816896;
}
.ls-15 {
  letter-spacing: 10px;
  position: relative;
  padding-left: 5rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: #f9d243;
  }
}
.digital-clock {
  padding: 0px 5px;
  font-size: 10px;
  font-weight: 600;
  padding-left: 0;
}


// delete after anitionting the scrolling animtaion

.box-div {
  height: 100vh;
  width: 100vw;
  .box {
    width: 400px;
    height: 540px;
    background-color: #fff;
  }
}
.height-fit-content {
  height: fit-content;
}
.list-style-none {
  list-style: none;
}

// borders
.before-border {
  position: relative;
  padding-top: 1rem;

  &:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    left: 0;
    top: 0;
    background-color: #fafafa;
  }
}
.after-border {
  position: relative;
  padding-bottom: 1rem;

  &:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
  }
}

.small-text {
  font-size: calc(0.4rem + .5vw);
  font-weight: 400;
}
.lime {
  color: #1cff07;
}
.image-container {

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.cursor-pointer {
  cursor: pointer!important;
}
.text-normal {
  font-family: Inter!important;
}
.color-secondary {
  color: #b5b5b5;
}
.color-off-white {
  color: #e6e6e6;
}
.divider {
  color: #d4d4d4;
  font-size: 14px;
  rotate: 25deg;
}
.specialize-list {
  list-style: inside;
  padding-left: 0;
}
.font-18px {
  font-size: 18px;
}
.bg-yellow {
  background-color: #FCFDDB;
}
.bg-orange {
  background-color: #F26E46;
}
.bg-light-purple {
  background-color: #8479BF;
}
.bg-light-orange {
  background-color: #D8B8AF;
}
.text-decoration-underline {
  text-decoration: underline;
}
.link-text {
  color: #fff;
  &:hover {
    text-decoration: underline;
     color: #eeeeee;
  }
}
.bg-darker {
  background-color: #141515;
}
.letter-space-2px {
  letter-spacing: 2px;
}
.color-dark {
  color: #000;
}
.border-silver {
  border: solid 1px #848484
}
.border-dark {
  border: solid 1px #000000
}
.line-height-normal {
  line-height: 1.2;
}
.font-x-large {
  font-size: calc(2rem + 1.9vw);
}
.font-large {
  font-size: calc(1.3rem + 2vw);
}
.font-medium {
  font-size: calc(1.1rem + 0.8vw);
}
.color-darker {
  color: rgb(41, 41, 41);
}
.hover-none{
  &:hover {
    text-decoration: none!important;
  }
}
.tab-size-big {
  display: inline-block;
  margin-left: 30px;
}
.art-shadow {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.bottom-line {
  border-bottom: 1.5px solid #000!important;
}
.top-line {
  border-top: 1.5px solid #000!important;
}
.image-container {
  .w-half {
      width: 47%!important;
  }
}
.font-small {
  font-size: calc(0.4rem + 0.5vw);
}